* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;

}



.row_1{
  margin-top: 30px;
}

.right{
  
  height: 60px;
  float: right;
  margin-top: 20px;
  margin-bottom:30px;
}
.right ul{
  text-align: right;
  margin-top: 30px;
  margin-bottom: 30px;

}

.right li{
  display: inline;
  padding-right: 40px;
  font: 15px helvetica;
}

li a:link{
text-decoration: none;
color: black;
}
a{
  color: black;
}

h1{
  text-align: center;
  font-size: 30px;
}

h1,.title{
  color: black;
  font-family: helvetica;
  font-weight: bold;
}

.title{
font-size: 15px;
}